.carouselContainer {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.carouselTrack {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.carouselItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.carouselItemActive {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.itemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.textSection {
  flex: 1;
  padding: 80px;
}

.textSection h2 {
  font-size: 50px;
  font-weight: 700;
  color: #a4795b;
  margin-bottom: 24px;
}

.textSection h3 {
  font-size: 40px;
  font-weight: 500;
  color: #3e3027;
  margin-bottom: 16px;
}

.textSection p {
  font-size: 18px;
  color: #7c6f66;
  margin-bottom: 32px;
}

.imageSection {
  flex: 1;
  padding: 10px;
}

.imageSection img {
  width: 486px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.arrow {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.arrowLeft,
.arrowRight {
  background-color: #a4795b;
  width: 56px;
  height: 56px;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrowLeft:hover,
.arrowRight:hover {
  background-color: #b88a6e;
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

.buttonCTA {
  background-color: #a4795b;
  border: none;
  color: #fff;
  padding: 12px 40px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonCTA:hover {
  background-color: #b88a6e;
}

.arrowLeft svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 14px;
}

.arrowRight svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 14px;
}
