.navbar {
  background-color: #faf6f1;
}
.navbarMenu {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  margin-bottom: 0;
}
.navbarItem a {
  display: inline-block;
  font-size: 18px;
  color: #3e3027;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 16px 32px;

  &:hover {
    background-color: #a4795b;
    color: #fff;
  }
}
